*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: "Unbounded", sans-serif;
}

body.hidden {
  overflow: hidden;
}

body.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background-color: #ececec;
}

body::-webkit-scrollbar-thumb {
  background-color: #181617;
}

body::-webkit-scrollbar-button {
  display: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  background: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fon {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: radial-gradient(50% 86.25% at 100% 100%, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.lightning {
  position: fixed;
  top: -350px;
  right: -100px;
  z-index: 1;
  width: 1700px;
}

.lightning.l2 {
  opacity: 0.15;
}

.main_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0%;
  padding: 20px 16px;
  background: var(--Black-100, #000000);
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
  border-radius: 70px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.main_btn svg {
  margin-right: 10px;
}
.main_btn svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main_btn:hover {
  background: #fff;
  border-color: #000;
  color: #000;
}
.main_btn:hover svg path {
  fill: #000;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  backdrop-filter: blur(50px);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal::-webkit-scrollbar {
  width: 0;
}

.modal::-webkit-scrollbar-track {
  background-color: #ececec;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #181617;
}

.modal::-webkit-scrollbar-button {
  display: none;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  position: fixed;
  top: 48px;
  right: 96px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal__close svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.modal__close:hover {
  border-color: #000;
}

.modal.active {
  display: block;
}

.modal.open {
  opacity: 1;
}

.modal__wrap {
  max-width: 623px;
  width: 100%;
  padding: 140px 0;
  margin: 0 auto;
}

.modal__input {
  margin-bottom: 24px;
}
.modal__input input {
  width: 100%;
  height: 56px;
  background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
  padding: 0 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal__input input::-webkit-input-placeholder {
  color: var(--Black-100, #000000);
}
.modal__input input::-moz-placeholder {
  color: var(--Black-100, #000000);
}
.modal__input input:-ms-input-placeholder {
  color: var(--Black-100, #000000);
}
.modal__input input::-ms-input-placeholder {
  color: var(--Black-100, #000000);
}
.modal__input input::placeholder {
  color: var(--Black-100, #000000);
}
.modal__input input:hover, .modal__input input:focus {
  border-color: #000;
}

.modal__textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  width: 100%;
  max-height: 116px;
  min-height: 116px;
  height: 116px;
  height: 56px;
  background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  border-radius: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
  padding: 20px 24px;
  margin-bottom: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.modal__textarea::-webkit-input-placeholder {
  color: var(--Black-100, #000000);
}

.modal__textarea::-moz-placeholder {
  color: var(--Black-100, #000000);
}

.modal__textarea:-ms-input-placeholder {
  color: var(--Black-100, #000000);
}

.modal__textarea::-ms-input-placeholder {
  color: var(--Black-100, #000000);
}

.modal__textarea::placeholder {
  color: var(--Black-100, #000000);
}

.modal__textarea:hover, .modal__textarea:focus {
  border-color: #000;
}

.modal__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
}
.modal__file .file {
  max-width: 56px;
  width: 56px;
  max-height: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
  position: relative;
  cursor: pointer;
  color: transparent;
  padding-left: 54px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal__file .file::after {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--White-100, #FFFFFF) url(../img/file.svg) no-repeat center;
  background-size: 24px;
}
.modal__file .file:hover {
  border-color: #000;
}

.modal__file-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__file-img .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
}
.modal__file-img .img img {
  width: auto;
  height: 100%;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__btn .btn, .modal__btn .btn2 {
  text-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
  border-radius: 200px;
  border: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal__btn .btn svg, .modal__btn .btn2 svg {
  min-width: 24px;
  margin-right: 16px;
}
.modal__btn .btn svg path, .modal__btn .btn2 svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal__btn .btn {
  margin-right: 12px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
}
.modal__btn .btn2 {
  background: var(--Primary, #FFFF00);
  -webkit-box-shadow: 0px 1.19px 2.21px 0px rgba(255, 228, 0, 0.0705882353);
          box-shadow: 0px 1.19px 2.21px 0px rgba(255, 228, 0, 0.0705882353);
  -webkit-box-shadow: 0px 2.86px 5.32px 0px rgba(255, 228, 0, 0.0509803922);
          box-shadow: 0px 2.86px 5.32px 0px rgba(255, 228, 0, 0.0509803922);
  -webkit-box-shadow: 0px 5.38px 10.02px 0px rgba(255, 228, 0, 0.0431372549);
          box-shadow: 0px 5.38px 10.02px 0px rgba(255, 228, 0, 0.0431372549);
  -webkit-box-shadow: 0px 9.6px 17.87px 0px rgba(255, 228, 0, 0.0352941176);
          box-shadow: 0px 9.6px 17.87px 0px rgba(255, 228, 0, 0.0352941176);
  -webkit-box-shadow: 0px 17.96px 33.42px 0px rgba(255, 228, 0, 0.0274509804);
          box-shadow: 0px 17.96px 33.42px 0px rgba(255, 228, 0, 0.0274509804);
  -webkit-box-shadow: 0px 43px 80px 0px rgba(255, 228, 0, 0.0196078431);
          box-shadow: 0px 43px 80px 0px rgba(255, 228, 0, 0.0196078431);
}
.modal__btn .btn:hover, .modal__btn .btn2:hover {
  background: #000;
  color: #fff;
}
.modal__btn .btn:hover svg path, .modal__btn .btn2:hover svg path {
  fill: #fff;
}

.menu_btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  border-radius: 50%;
  position: fixed;
  top: 24px;
  left: 16px;
  z-index: 100;
}
.menu_btn svg {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu_btn.active svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu_navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  backdrop-filter: blur(50px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu_navbar .wrap {
  padding: 64px 0;
}
.menu_navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.menu_navbar ul li {
  margin-bottom: 12px;
}
.menu_navbar ul li a {
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
  text-align: center;
}
.menu_navbar ul li:last-child {
  margin-bottom: 0;
}

.menu_navbar.active {
  height: 100vh;
}

.menu_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu_soc a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  margin-right: 12px;
  border-radius: 50%;
}
.menu_soc a svg {
  width: 16px;
  height: 16px;
}
.menu_soc a:last-child {
  margin-right: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.header .container {
  padding-top: 48px;
}

.header__logo {
  display: block;
  width: 199px;
  height: 56px;
  background: url(../img/logo.svg) no-repeat center;
  background-size: 100%;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
}
.header__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  margin-left: 15px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__soc a:hover {
  border-color: #000;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  position: relative;
  z-index: 2;
}

.banner {
  min-height: 100vh;
  overflow: hidden;
}

.banner__lightning img {
  width: 100%;
}

.banner__wrap {
  padding-top: 310px;
}

.banner__block {
  max-width: 560px;
  width: 100%;
  position: relative;
}
.banner__block p {
  max-width: 350px;
  width: 100%;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.banner__block .ai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  border: 5px solid #fff;
  border-radius: 100px;
  background: #000;
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 2;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
h1 span {
  position: relative;
}
h1 span::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.banner__input {
  width: 100%;
}
.banner__input input {
  width: 100%;
  height: 56px;
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
  padding: 16px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #000;
  border-radius: 100px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.banner__input input::-webkit-input-placeholder {
  color: #000;
}
.banner__input input::-moz-placeholder {
  color: #000;
}
.banner__input input:-ms-input-placeholder {
  color: #000;
}
.banner__input input::-ms-input-placeholder {
  color: #000;
}
.banner__input input::placeholder {
  color: #000;
}
.banner__input input:hover, .banner__input input:focus {
  border-color: #000;
}

.banner__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
  padding: 16px;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  border-radius: 100px;
  background: var(--Primary, #FFFF00);
  border: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.banner__btn svg {
  margin-right: 10px;
}
.banner__btn svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.banner__btn:hover {
  background: #000;
  color: #fff;
}
.banner__btn:hover svg path {
  fill: #fff;
}

.tokenize {
  min-height: 100vh;
}

.tokenize__wrap {
  max-width: 1136px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 370px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tokenize__wrap.none {
  opacity: 0;
}

h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 8px;
}

.tokenize__wrap p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--Black-50, rgba(0, 0, 0, 0.5019607843));
  margin-bottom: 24px;
}

.tokenize__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-radius: 200px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  backdrop-filter: blur(10px);
  padding: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokenize__link .input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  border-radius: 200px;
  padding: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokenize__link .input::-webkit-input-placeholder {
  color: #000;
}
.tokenize__link .input::-moz-placeholder {
  color: #000;
}
.tokenize__link .input:-ms-input-placeholder {
  color: #000;
}
.tokenize__link .input::-ms-input-placeholder {
  color: #000;
}
.tokenize__link .input::placeholder {
  color: #000;
}
.tokenize__link .btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
  padding: 16px 32px;
  border-radius: 200px;
  border: 0;
  background: var(--Primary, #FFFF00);
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokenize__link .btn svg {
  margin-right: 16px;
}
.tokenize__link .btn svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokenize__link .btn:hover {
  background: #000;
  color: #fff;
}
.tokenize__link .btn:hover svg path {
  fill: #fff;
}

.tokenize__link:hover, .tokenize__link:focus {
  border-color: #000;
}
.tokens {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
.tokens .container {
  padding-top: 240px;
  padding-bottom: 200px;
}

h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000;
  margin-bottom: 8px;
}

h3 + p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--Black-25, rgba(0, 0, 0, 0.2509803922));
  margin-bottom: 24px;
}

.tokens__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 62px;
}
.tokens__tab .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-right: 8px;
  padding: 16px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
  border-radius: 100px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokens__tab .btn svg {
  margin-right: 8px;
}
.tokens__tab .btn svg path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tokens__tab .btn:hover {
  background: #000;
  color: #fff;
}
.tokens__tab .btn:hover svg path {
  fill: #fff;
}
.tokens__tab .btn:last-child {
  margin-right: 0;
}
.tokens__tab .btn.active {
  background: var(--Primary, #FFFF00);
  border-color: var(--Primary, #FFFF00);
}

.tokens__block {
  min-height: 356px;
  background: var(--White-25, rgba(255, 255, 255, 0.2509803922));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  backdrop-filter: blur(50px);
  border-radius: 48px;
  padding: 32px;
  margin: 0 8px;
}
.tokens__block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, #000000);
}
.tokens__block ul li span {
  font-weight: 300;
  color: var(--Black-50, rgba(0, 0, 0, 0.5019607843));
}
.tokens__block ul li .green {
  color: var(--Secondary, #00A40B);
}
.tokens__block ul li:last-child {
  margin-bottom: 0;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5019607843));
}

.tokens__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.tokens__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-right: auto;
}

.tokens__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.tokens__img img {
  width: auto;
  height: 100%;
}

.tokens__local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background: var(--White-10, rgba(255, 255, 255, 0.1019607843));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
}

.tokens__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background: var(--Black-100, #000000);
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .container {
  padding-bottom: 48px;
}

.footer.none {
  opacity: 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--Black-50, rgba(0, 0, 0, 0.5019607843));
  margin-right: 24px;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 24px;
  background: var(--Black-15, rgba(0, 0, 0, 0.1490196078));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
  border-radius: 50px;
  padding: 0 3px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__btn span {
  width: 18px;
  height: 18px;
  background: var(--White-100, #FFFFFF);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1019607843));
  border-radius: 50%;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__btn svg {
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__btn.active span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.footer__btn.active svg {
  -webkit-transform: translate(21px, -50%);
          transform: translate(21px, -50%);
}

.footer__right {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--Black-50, rgba(0, 0, 0, 0.5019607843));
}

body.dark {
  background: var(--Black-100, #000000);
  color: #fff;
}
body.dark .menu_navbar {
  background: var(--Black-75, rgba(0, 0, 0, 0.7490196078));
  backdrop-filter: blur(50px);
}
body.dark .menu_navbar ul li a {
  color: #fff;
}
body.dark .fon {
  background: radial-gradient(50% 86.25% at 100% 100%, rgba(255, 255, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
body.dark .header__logo {
  background: url(../img/logo-dark.svg) no-repeat center;
  background-size: 100%;
}
body.dark .main_btn {
  background: #fff;
  color: #000;
}
body.dark .main_btn svg path {
  fill: #000;
}
body.dark .main_btn:hover {
  border-color: #fff;
  -webkit-box-shadow: 0 0 16px #fff;
          box-shadow: 0 0 16px #fff;
}
body.dark .tokenize__link .btn:hover {
  background: var(--Primary, #FFFF00);
  -webkit-box-shadow: 0 0 16px #FFFF00;
          box-shadow: 0 0 16px #FFFF00;
  color: #000;
}
body.dark .tokenize__link .btn:hover svg path {
  fill: #000;
}
body.dark .banner__block .ai {
  border-color: #000;
  background: #fff;
  color: #000;
}
body.dark .banner__block .ai svg path {
  fill: #000;
}
body.dark h1 {
  color: #fff;
}
body.dark .banner__block p {
  color: var(--White-75, rgba(255, 255, 255, 0.7490196078));
}
body.dark h1 span::after {
  background: #fff;
}
body.dark .banner__input input {
  background: var(--Black-15, rgba(0, 0, 0, 0.1490196078));
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
  color: #fff;
}
body.dark .banner__input input:hover, body.dark .banner__input input:focus {
  border-color: #fff;
}
body.dark .banner__input input::-webkit-input-placeholder {
  color: #fff;
}
body.dark .banner__input input::-moz-placeholder {
  color: #fff;
}
body.dark .banner__input input:-ms-input-placeholder {
  color: #fff;
}
body.dark .banner__input input::-ms-input-placeholder {
  color: #fff;
}
body.dark .banner__input input::placeholder {
  color: #fff;
}
body.dark .banner__btn:hover {
  background: var(--Primary, #FFFF00);
  -webkit-box-shadow: 0 0 16px #FFFF00;
          box-shadow: 0 0 16px #FFFF00;
  color: #000;
}
body.dark .banner__btn:hover svg path {
  fill: #000;
}
body.dark .footer__copy {
  color: var(--White-50, rgba(255, 255, 255, 0.5019607843));
}
body.dark .footer__right {
  color: var(--White-50, rgba(255, 255, 255, 0.5019607843));
}
body.dark .footer__btn {
  background: var(--White-15, rgba(255, 255, 255, 0.1490196078));
  border: 1px solid var(--White-5, rgba(255, 255, 255, 0.0509803922));
}
body.dark .tokens__block {
  background: var(--Black-25, rgba(0, 0, 0, 0.2509803922));
  border: 1px solid var(--White-5, rgba(255, 255, 255, 0.0509803922));
}
body.dark .tokens__name {
  color: #fff;
}
body.dark .tokens__tab .btn {
  background: var(--Black-100, #000000);
  color: #fff;
}
body.dark .tokens__tab .btn svg path {
  fill: #fff;
}
body.dark .tokens__tab .btn:hover {
  border-color: #fff;
}
body.dark .tokens__tab .btn.active {
  background: #FFFF00;
  color: #000;
}
body.dark .tokens__tab .btn.active svg path {
  fill: #000;
}
body.dark h3 {
  color: #fff;
}
body.dark h3 + p {
  color: var(--White-50, rgba(255, 255, 255, 0.5019607843));
}
body.dark .tokens__block ul li {
  color: #fff;
}
body.dark .tokens__block ul li span {
  color: #cfcfcf;
}
body.dark h6 {
  color: #cfcfcf;
}
body.dark .tokens__local svg path {
  fill: #fff;
}
body.dark .tokenize__wrap p {
  color: var(--White-50, rgba(255, 255, 255, 0.5019607843));
}
body.dark .tokenize__link {
  background: transparent;
  border: 1px solid var(--White-15, rgba(255, 255, 255, 0.1490196078));
  backdrop-filter: blur(10px);
}
body.dark .tokenize__link:hover {
  border-color: #fff;
}
body.dark .tokenize__link .input {
  color: #fff;
}
body.dark .tokenize__link .input::-webkit-input-placeholder {
  color: #fff;
}
body.dark .tokenize__link .input::-moz-placeholder {
  color: #fff;
}
body.dark .tokenize__link .input:-ms-input-placeholder {
  color: #fff;
}
body.dark .tokenize__link .input::-ms-input-placeholder {
  color: #fff;
}
body.dark .tokenize__link .input::placeholder {
  color: #fff;
}
body.dark .header__soc a {
  background: var(--Black-100, #000000);
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
}
body.dark .header__soc a svg path {
  fill: #fff;
}
body.dark .header__soc a:hover {
  border-color: #fff;
}
body.dark .lightning.l2 {
  opacity: 0.02;
}
body.dark .modal {
  background: var(--Black-75, rgba(0, 0, 0, 0.7490196078));
  backdrop-filter: blur(50px);
}
body.dark .modal__close {
  background: #000000;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
}
body.dark .modal__close svg path {
  fill: #fff;
}
body.dark .modal__close:hover {
  border-color: #fff;
}
body.dark .modal__input input, body.dark .modal__textarea {
  background: var(--Black-15, rgba(0, 0, 0, 0.1490196078));
  color: #fff;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
}
body.dark .modal__input input:hover, body.dark .modal__textarea:hover, body.dark .modal__input input:focus, body.dark .modal__textarea:focus {
  border-color: #fff;
}
body.dark .modal__input input::-webkit-input-placeholder, body.dark .modal__textarea::-webkit-input-placeholder {
  color: #fff;
}
body.dark .modal__input input::-moz-placeholder, body.dark .modal__textarea::-moz-placeholder {
  color: #fff;
}
body.dark .modal__input input:-ms-input-placeholder, body.dark .modal__textarea:-ms-input-placeholder {
  color: #fff;
}
body.dark .modal__input input::-ms-input-placeholder, body.dark .modal__textarea::-ms-input-placeholder {
  color: #fff;
}
body.dark .modal__input input::placeholder, body.dark .modal__textarea::placeholder {
  color: #fff;
}
body.dark .modal__btn .btn {
  background: var(--Black-100, #000000);
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
  color: #fff;
}
body.dark .modal__btn .btn svg path {
  fill: #fff;
}
body.dark .modal__btn .btn:hover {
  border-color: #fff;
}
body.dark .modal__btn .btn2 {
  -webkit-box-shadow: 0 0 0 #FFFF00;
          box-shadow: 0 0 0 #FFFF00;
}
body.dark .modal__btn .btn2:hover {
  background: var(--Primary, #FFFF00);
  -webkit-box-shadow: 0 0 16px #FFFF00;
          box-shadow: 0 0 16px #FFFF00;
  color: #000;
}
body.dark .modal__btn .btn2:hover svg path {
  fill: #000;
}
body.dark .modal__file .file:hover {
  border-color: #fff;
  -webkit-box-shadow: 0 0 16px #fff;
          box-shadow: 0 0 16px #fff;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu_navbar {
    display: block;
  }
  .main_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
  }
  .main_btn span {
    display: none;
  }
  .main_btn svg {
    width: 13px;
    height: auto;
    margin-right: 0;
  }
  .header__box {
    position: relative;
  }
  .header__logo {
    width: 116px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__right {
    margin-left: auto;
  }
  .header .container {
    padding-top: 24px;
  }
  .footer {
    z-index: 4;
  }
  .footer .container {
    padding-bottom: 18px;
  }
  .footer__box {
    position: relative;
  }
  .footer__copy {
    font-size: 8px;
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer__right {
    font-size: 8px;
  }
  .footer__btn {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 24px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner__wrap {
    padding-top: 21vh;
    padding-bottom: 21vh;
  }
  .banner__block .ai {
    display: none;
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h1 br {
    display: none;
  }
  h1 span::after {
    height: 3px;
  }
  .banner__block {
    text-align: center;
  }
  .banner__block p {
    font-size: 16px;
    line-height: 20px;
  }
  .lightning {
    width: 190%;
    top: auto;
    right: auto;
    bottom: -220px;
    left: 50%;
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
    z-index: 3;
  }
  .lightning img {
    width: 100%;
  }
  .main {
    position: static;
    z-index: none;
  }
  .banner__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 22vh;
    gap: 8px;
    position: relative;
    z-index: 4;
  }
  .banner__btn {
    width: 100%;
    background: #000;
    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }
  .banner__btn svg {
    width: 16px;
    height: 16px;
  }
  .banner__btn svg path {
    fill: #fff;
  }
  .banner__input input {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    backdrop-filter: blur(25px);
  }
  .header__soc {
    display: none;
  }
  .lightning.l2 {
    z-index: 0;
  }
  .tokens__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  .tokenize__wrap {
    top: 21vh;
    padding: 0 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .tokenize__wrap p {
    font-size: 16px;
    line-height: 24px;
  }
  .tokenize__link {
    margin-top: 22vh;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    gap: 8px;
  }
  .tokenize__link .input {
    height: 56px;
    background: var(--White-50, rgba(255, 255, 255, 0.5019607843));
    border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.0509803922));
    backdrop-filter: blur(25px);
    font-size: 12px;
    line-height: 16px;
  }
  body.dark .tokenize__link .input {
    background: var(--Black-15, rgba(0, 0, 0, 0.1490196078));
    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.1019607843));
  }
  .tokenize__link .btn {
    height: 56px;
    font-size: 12px;
    line-height: 16px;
  }
  body.dark .tokenize__link {
    border: 0;
  }
  .tokens .container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  h3 + p {
    font-size: 16px;
    line-height: 24px;
  }
  .tokens__tab {
    margin-bottom: 32px;
  }
  .tokens__tab .btn {
    text-wrap: nowrap;
    padding: 14px;
  }
  .tokens__block {
    border-radius: 16px;
    padding: 16px;
  }
  .tokens__name {
    font-size: 12px;
    line-height: 16px;
  }
  .tokens__img {
    max-width: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  .tokens__block ul li {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
    line-height: 16px;
  }
  .modal__wrap {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .modal__close {
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
  }
  .modal__close svg {
    width: 16px;
    height: auto;
  }
  .modal__input input {
    height: 48px;
    font-size: 12px;
  }
  .modal__textarea {
    max-height: 80px;
    min-height: 80px;
    height: 80px;
    font-size: 12px;
    padding-top: 16px;
  }
  .modal__file {
    margin-bottom: 40px;
  }
  .modal__file-img .img {
    width: 32px;
    height: 32px;
  }
  .modal__file .file {
    max-width: 32px;
    width: 32px;
    height: 32px;
    padding-left: 30px;
  }
  .modal__file .file::after {
    background-size: 16px;
  }
  .modal__btn .btn {
    margin-right: 8px;
  }
  .modal__btn .btn, .modal__btn .btn2 {
    padding: 16px 12px;
    font-size: 12px;
    line-height: 16px;
  }
  .modal__btn .btn svg, .modal__btn .btn2 svg {
    min-width: 13px;
    width: 13px;
    height: auto;
    margin-right: 9px;
  }
}